<div class="inventory-element">

  <div class="element-root" ngxDroppable="locations" *ngIf="elementData.type === 'root'">
    <div class="element-location"
         ngxDraggable="locations"
         *ngFor="let location of elementData.categories">
      <rpgi-inventory-element [element-data]="location"></rpgi-inventory-element>
    </div>
  </div>



  <div class="element-location" *ngIf="elementData.type === 'location'">
    <div class="title">{{elementData.label}}</div>
    <div class="element-categories"
         ngxDroppable="categories">
      <div class="element-category"
           ngxDraggable="categories"
           *ngFor="let category of elementData.categories">
        <rpgi-inventory-element [element-data]="category"></rpgi-inventory-element>
      </div>
    </div>
    <div class="element-items" ngxDroppable="items">
      <div class="element-items" ngxDroppable="items">
        <div class="element-item"
             ngxDraggable="items"
             *ngFor="let item of elementData.items">
          <rpgi-inventory-element [element-data]="item"></rpgi-inventory-element>
        </div>
      </div>
    </div>
  </div>


  <div class="element-category" *ngIf="elementData.type === 'category'">
    <div class="title">{{elementData.label}}</div>
    <div class="element-items" ngxDroppable="items">
      <div class="element-item"
           ngxDraggable="items"
           *ngFor="let item of elementData.items">
        <rpgi-inventory-element [element-data]="item"></rpgi-inventory-element>
      </div>
    </div>
  </div>


  <div class="element-item" *ngIf="elementData.type === 'item'">
    {{elementData.label}}
  </div>
</div>
