@import "../../../styles/variables";
.element-location {
  box-shadow: $defaultBoxShadow;
  background: white;
  color: white;
  margin-bottom: 50px;

  .element-location-title {
    font-weight: bold;
    font-size: 20px;
    background: $colorMain2;
    padding: 9px;
  }

  .element-location-content {
    margin: 18px;
  }
}

.element-category {
  border-left: 5px solid black;
  margin-bottom: 9px;
  background: $colorMain2;
  padding-right: 9px;

  .element-category-title {
    font-weight: bold;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 9px;
  }
}

.element-items {
  padding-bottom: 30px;
}
