<div class="inventory-item">
  <span ngxDragHandle class="drag-handle" *ngIf="editMode">
    <span class="icon"></span>
  </span>
  <span class="item-label">{{item.label}}</span>
  <div class="details">
    <div class="reference">
      <fa-icon class="icon-legend" [icon]="['fas', 'bookmark']" *ngIf="item.reference"></fa-icon>
      {{item.reference}}
    </div>
    <div class="count">
      <fa-icon class="icon-legend" [icon]="['fas', 'hashtag']" *ngIf="item.count"></fa-icon>
      {{item.count}}
    </div>
    <div class="weight">
      <fa-icon class="icon-legend" [icon]="['fas', 'weight']" *ngIf="item.weight"></fa-icon>
      {{item.weight}}<span *ngIf="item.count">/{{item.weight * item.count  | number:'1.0-2'}}</span>
    </div>
      <div class="contextual-controls" *ngIf="editMode">
        <fa-icon class="icon-control"
                 [icon]="['fas', 'edit']"
                 (click)="edit.emit()">
        </fa-icon>
        <fa-icon class="icon-control"
                 [icon]="['fas', 'trash']"
                 mwlConfirmationPopover
                 [popoverTitle]="'Delete this item ?'"
                 placement="left"
                 (confirm)="delete.emit()">
        </fa-icon>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="comments" *ngIf="item.comments">
    <pre>{{item.comments}}</pre>
  </div>
</div>
