<div class="inventory">
  INVENTORY

  <rpgi-inventory-element [element-data]="inventoryUiData"></rpgi-inventory-element>


  <!--div class="root-categories" ngxDroppable [model]="inventory">
    <div class="root-category" ngxDraggable>
      <div class="title">Personnage</div>
      <div class="categories" ngxDroppable="categories">
        <div class="category" ngxDraggable>
          Sniper
          <div class="categories" ngxDroppable="items">
            <div class="item" ngxDraggable>
              Red dot
            </div>
            <div class="item" ngxDraggable>
              Sniper ammo
            </div>
          </div>
        </div>
        <div class="category" ngxDraggable>
          Sniper 2
          <div class="categories" ngxDroppable="items">
            <div class="item" ngxDraggable>
              Red dot
            </div>
            <div class="item" ngxDraggable>
              Sniper ammo
            </div>
          </div>
        </div>
        <div class="categories" ngxDroppable="items">
          <div class="item" ngxDraggable>
            Shotgun
          </div>
        </div>
      </div>
    </div>
    <div class="root-category" ngxDraggable>
      <div class="title">Sac</div>
      <div class="categories" ngxDroppable="categories">
        <div class="category" ngxDraggable>
          Bolt
        </div>
        <div class="category" ngxDraggable>
          Grenades
        </div>
      </div>
    </div>
    <div class="root-category" ngxDraggable>
      <div class="title">Veste</div>
    </div>
  </div-->
</div>
