<div class="inventory-item">
  <span ngxDragHandle class="drag-handle" *ngIf="editMode">
    <span class="icon"></span>
  </span>
  <span class="item-label">{{item.label}}</span>
  <div class="details">
    <div class="reference">
      <fa-icon class="icon-legend" [icon]="['fas', 'bookmark']" *ngIf="item.reference"></fa-icon>
      {{item.reference}}
    </div>
    <div class="count">
      <fa-icon class="icon-legend" [icon]="['fas', 'hashtag']" *ngIf="item.count"></fa-icon>
      {{item.count}}
    </div>
    <div class="weight">
      <span *ngIf="item.weight && item.weight > 0">
        <fa-icon class="icon-legend" [icon]="['fas', 'weight']"></fa-icon>
        {{item.weight}}<span *ngIf="item.count">/{{item.weight * item.count  | number:'1.0-2'}}</span>
      </span>
    </div>
    <div class="contextual-controls" *ngIf="editMode">

      <div ngbDropdown
           class="move-dropdown"
           *ngIf="inventory.categories && inventory.categories.length > 1">
        <fa-icon class="icon-control"
                 ngbDropdownToggle
                 [icon]="['fas', 'share-square']">
        </fa-icon>
        <div ngbDropdownMenu>
          <span class="title">Move to:</span>
          <button *ngFor="let location of inventory.categories"
                  class="dropdown-item"
                  (click)="move.emit(location)">
            {{location.label}}
          </button>
        </div>
      </div>

      <fa-icon class="icon-control"
               [icon]="['fas', 'edit']"
               (click)="edit.emit()">
      </fa-icon>
      <fa-icon class="icon-control"
               [icon]="['fas', 'trash']"
               mwlConfirmationPopover
               [popoverTitle]="'Delete this item ?'"
               placement="left"
               (confirm)="delete.emit()">
      </fa-icon>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="comments" *ngIf="item.comments">
    <pre>{{item.comments}}</pre>
  </div>
</div>
