<div class="inventory container">
  <div class="element-root" [ngClass]="{'read-only': !editMode}" ngxDroppable="locations" (drop)="dragEnd()">
    <div class="element-location inventory-element"
         ngxDraggable="locations"
         [moves]="editMode"
         [id]="location.id"
         *ngFor="let location of inventoryUiData.categories">

      <div class="element-location-title">
        <span ngxDragHandle class="drag-handle" *ngIf="editMode">
          <span class="icon"></span>
        </span>
        {{location.label}}
        <div class="location-misc">
          <span class="total-weight">
            <fa-icon [icon]="['fas', 'weight']"></fa-icon> mnj
            {{location.totalWeight | number:'1.0-2'}}
          </span>
          <div class="contextual-controls" *ngIf="editMode">
            <fa-icon class="icon-control"
                     [icon]="['fas', 'edit']"
                     (click)="editStorage(storageModal, location)">
            </fa-icon>
            <fa-icon class="icon-control"
                     [icon]="['fas', 'trash']"
                     mwlConfirmationPopover
                     [popoverTitle]="'Delete this storage ?'"
                     [popoverMessage]="'All items will be deleted'"
                     placement="left"
                     (confirm)="deleteStorage(location)">
            </fa-icon>
          </div>
        </div>
      </div>
      <div class="element-location-content">
        <div class="element-categories"
             ngxDroppable="categories"
             (drop)="dragEnd()">
          <div class="element-category inventory-element"
               ngxDraggable="categories"
               [moves]="editMode"
               [id]="category.id"
               *ngFor="let category of location.categories">
            <div class="element-category-title">
              <span ngxDragHandle class="drag-handle" *ngIf="editMode">
                <span class="icon"></span>
              </span>
              {{category.label}}
              <div class="contextual-controls" *ngIf="editMode">

                <div ngbDropdown
                     class="move-dropdown"
                     *ngIf="inventoryUiData.categories && inventoryUiData.categories.length > 1">
                  <fa-icon class="icon-control"
                           ngbDropdownToggle
                           [icon]="['fas', 'share-square']">
                  </fa-icon>
                  <div ngbDropdownMenu>
                    <span>Move to:</span>
                    <button *ngFor="let destination of inventoryUiData.categories"
                            class="dropdown-item"
                            (click)="moveCategory(destination, location, category)">
                      {{destination.label}}
                    </button>
                  </div>
                </div>

                <fa-icon class="icon-control"
                         [icon]="['fas', 'edit']"
                         (click)="editCategory(categoryModal, location, category)">
                </fa-icon>
                <fa-icon class="icon-control"
                         [icon]="['fas', 'trash']"
                         mwlConfirmationPopover
                         [popoverTitle]="'Delete this category ?'"
                         [popoverMessage]="'All items will be deleted'"
                         placement="left"
                         (confirm)="deleteCategory(location, category)">
                </fa-icon>
              </div>
            </div>
            <div class="element-items"
                 ngxDroppable="items"
                 (drop)="dragEnd()">
              <div class="element-item inventory-element"
                   ngxDraggable="items"
                   [moves]="editMode"
                   [id]="item.id"
                   *ngFor="let item of category.items">
                <rpgi-inventory-item [item]="item"
                                     [editMode]="editMode"
                                     [inventory]="inventoryUiData"
                                     (move)="moveItem($event, category, item)"
                                     (edit)="editItem(item)"
                                     (delete)="deleteItem(category, item)">
                </rpgi-inventory-item>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="element-items"
             ngxDroppable="items"
             (drop)="dragEnd()">

          <div class="element-item inventory-element"
               ngxDraggable="items"
               [moves]="editMode"
               [id]="item.id"
               *ngFor="let item of location.items">
            <rpgi-inventory-item [item]="item"
                                 [editMode]="editMode"
                                 [inventory]="inventoryUiData"
                                 (move)="moveItem($event, location, item)"
                                 (edit)="editItem(item)"
                                 (delete)="deleteItem(location, item)">
            </rpgi-inventory-item>
          </div>
        </div>
        <div class="actions pull-right" *ngIf="editMode">
          <button class="btn btn-primary"
                  (click)="addItem(location)">
            Add item
          </button>
          <button class="btn btn-primary"
                  (click)="addCategory(categoryModal, location)">
            Add category
          </button>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <!-- Add location component -->
  <button class="btn btn-primary pull-right"
          *ngIf="editMode"
          (click)="addStorage(storageModal)">
    Add a new storage
  </button>
  <div class="clearfix"></div>

  <div class="page-controls">
    <button type="button"
            *ngIf="editMode"
            class="btn btn-default"
            (click)="cancel()">
      Cancel
    </button>
    <button type="button"
            *ngIf="editMode"
            class="btn btn-primary pull-right"
            (click)="save()">
      Save
    </button>
    <button type="button"
            *ngIf="!editMode"
            class="btn btn-primary pull-right"
            (click)="edit()">
      Modify
    </button>
  </div>

  <!-- edit storage modal -->
  <ng-template #storageModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Name your storage</h4>
      <button type="button" class="close" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="storage.name">Storage name</label>
        <input type="text"
               id="storage.name"
               maxlength="100"
               class="form-control"
               [(ngModel)]="storageName"
               required>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="d()">Cancel</button>
      <button type="button" class="btn btn-outline-dark" (click)="c()" [disabled]="!storageName">OK
      </button>
    </div>
  </ng-template>

  <!-- edit category modal -->
  <ng-template #categoryModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Name your category</h4>
      <button type="button" class="close" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="storage.name">Category name</label>
        <input type="text"
               id="category.name"
               maxlength="100"
               class="form-control"
               [(ngModel)]="categoryName"
               required>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="d()">Cancel</button>
      <button type="button" class="btn btn-outline-dark" (click)="c()" [disabled]="!categoryName">OK
      </button>
    </div>
  </ng-template>
</div>
