.root-categories {
  padding: 9px;
}
.root-category {
  padding: 9px;
  margin-bottom: 20px;
  background: #FFFF66;
}
.categories {
  padding: 9px;
}
.category {
  background: #FF66FF;
  margin: 9px;
  padding: 9px;
}
.items {
  padding: 9px;
}
.item {
  background: white;
  padding: 9px;
  margin: 9px;
}
