<div class="inventory">
  <div class="element-root" ngxDroppable="locations" (drop)="dragEnd()">
    <div class="element-location inventory-element"
         ngxDraggable="locations"
         [id]="location.id"
         *ngFor="let location of inventoryUiData.categories">

      <div class="element-location-title">{{location.label}}</div>
      <div class="element-location-content">
        <div class="element-categories"
             ngxDroppable="categories"
             (drop)="dragEnd()">
          <div class="element-category inventory-element"
               ngxDraggable="categories"
               [id]="category.id"
               *ngFor="let category of location.categories">
            <div class="element-category-title">{{category.label}}</div>
            <div class="element-items"
                 ngxDroppable="items"
                 (drop)="dragEnd()">
              <div class="element-item inventory-element"
                   ngxDraggable="items"
                   [id]="item.id"
                   *ngFor="let item of category.items">
                <rpgi-inventory-item [item]="item"></rpgi-inventory-item>
              </div>
            </div>
          </div>
        </div>
        <div class="element-items"
             ngxDroppable="items"
             (drop)="dragEnd()">

          <div class="element-item inventory-element"
               ngxDraggable="items"
               [id]="item.id"
               *ngFor="let item of location.items">
            <rpgi-inventory-item [item]="item"></rpgi-inventory-item>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--rpgi-inventory-element [element-data]="inventoryUiData"></rpgi-inventory-element-->


</div>
