.sheet {
  .form-group {
    margin-bottom: 3px;
  }
  .form-control {
    padding: 2px 9px;
  }

  .card {
    margin-bottom: 30px;
  }

  .characteristics {
    .abbr {
      display: block;
      width: 30px;
      float: right;
    }
  }
}
