@import "../../../../styles/variables";
.media-image {
  width: 100%;
  height: 100%;
  .image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

:host {
  display: block;
  width: 100%;
  height: 100%;
}
