<nav class="main-navbar navbar navbar-expand-md">
  <a class="navbar-brand" href="#">RPG Assistant</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
          aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" rpgiSecured>
        <a class="nav-link" href="" routerLinkActive="active" [routerLink]="['/characters']">Characters</a>
      </li>
    </ul>

    <div *ngIf="authentication !== null">
      <ul *ngIf="!authentication.authenticated"
          class="navbar-nav pull-right">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/login']">
            <fa-icon [icon]="['far', 'user']"></fa-icon> Login
          </a>
        </li>
      </ul>
      <ul *ngIf="authentication.authenticated"
          class="navbar-nav pull-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle account-dropdown"
             href="http://example.com"
             id="account-dropdown"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false"><fa-icon [icon]="['fas', 'user']"></fa-icon> {{authentication.username}}</a>
          <div class="dropdown-menu" aria-labelledby="account-dropdown">
            <a class="dropdown-item" [routerLink]="" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
