.login {
  max-width: 500px;
  padding: 50px;
  text-align: center;

  h1 {
    margin-bottom: 30px;
  }

  a {
    position: relative;
    display: block;
    border-radius: 2px;
    font-weight: bold;
    font-size: 16px;
    padding: 9px 9px 9px 30px;
    color: white;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  fa-icon {
    position: absolute;
    left: 9px;
    top: 2px;
    font-size: 25px;
  }

  .google {
    background: #DD4B39;
  }
}
