<form #infoForm="ngForm" class="misc container-fluid">
  <div class="row">
    <div class="col-lg">
      <rpgi-dh2-skill [sheet]="sheet" [editMode]="editMode" skillName="acrobatics" skillLabel="Acrobatics (Ag)"></rpgi-dh2-skill>
      <rpgi-dh2-skill [sheet]="sheet" [editMode]="editMode" skillName="athletics" skillLabel="Athletics (S)"></rpgi-dh2-skill>
      <rpgi-dh2-skill [sheet]="sheet" [editMode]="editMode" skillName="awareness" skillLabel="Awareness (Per)"></rpgi-dh2-skill>
      <rpgi-dh2-skill [sheet]="sheet" [editMode]="editMode" skillName="charm" skillLabel="Charm (Fel)"></rpgi-dh2-skill>
      <rpgi-dh2-skill [sheet]="sheet" [editMode]="editMode" skillName="command" skillLabel="Command (Fel)"></rpgi-dh2-skill>
      <rpgi-dh2-skill [sheet]="sheet" [editMode]="editMode" skillName="commerce" skillLabel="Commerce (Int)"></rpgi-dh2-skill>
      <rpgi-dh2-skill-list [sheet]="sheet" [editMode]="editMode" skillName="commonLore" skillLabel="Common Lore (Int)"></rpgi-dh2-skill-list>
      <rpgi-dh2-skill [sheet]="sheet" [editMode]="editMode" skillName="deceive" skillLabel="Deceive (Fel)"></rpgi-dh2-skill>
      <rpgi-dh2-skill [sheet]="sheet" [editMode]="editMode" skillName="dodge" skillLabel="Dodge (Ag)"></rpgi-dh2-skill>
      <rpgi-dh2-skill-list [sheet]="sheet" [editMode]="editMode" skillName="forbiddenLore" skillLabel="Forbidden Lore (Int)"></rpgi-dh2-skill-list>
      <rpgi-dh2-skill [sheet]="sheet" [editMode]="editMode" skillName="inquiry" skillLabel="Inquiry (Fel)"></rpgi-dh2-skill>
      <rpgi-dh2-skill [sheet]="sheet" [editMode]="editMode" skillName="interrogation" skillLabel="Interrogation (WP)"></rpgi-dh2-skill>
      <rpgi-dh2-skill [sheet]="sheet" [editMode]="editMode" skillName="intimidate" skillLabel="Intimidate (S)"></rpgi-dh2-skill>
      <rpgi-dh2-skill-list [sheet]="sheet" [editMode]="editMode" skillName="linguistics" skillLabel="Linguistics (Int)"></rpgi-dh2-skill-list>
      <rpgi-dh2-skill [sheet]="sheet" [editMode]="editMode" skillName="logic" skillLabel="Logic (Int)"></rpgi-dh2-skill>
      <rpgi-dh2-skill [sheet]="sheet" [editMode]="editMode" skillName="medicae" skillLabel="Medicae (Int)"></rpgi-dh2-skill>
    </div>
    <div class="col-lg">
      <rpgi-dh2-skill [sheet]="sheet" [editMode]="editMode" skillName="navigateSurface" skillLabel="Navigate (Surface) (Int)"></rpgi-dh2-skill>
      <rpgi-dh2-skill [sheet]="sheet" [editMode]="editMode" skillName="navigateStellar" skillLabel="Navigate (Stellar) (Int)"></rpgi-dh2-skill>
      <rpgi-dh2-skill [sheet]="sheet" [editMode]="editMode" skillName="navigateWarp" skillLabel="Navigate (Warp) (Int)"></rpgi-dh2-skill>
      <rpgi-dh2-skill [sheet]="sheet" [editMode]="editMode" skillName="operateAeronautica" skillLabel="Operate (Aeronautica) (Ag)"></rpgi-dh2-skill>
      <rpgi-dh2-skill [sheet]="sheet" [editMode]="editMode" skillName="operateSurface" skillLabel="Operate (Surface) (Ag)"></rpgi-dh2-skill>
      <rpgi-dh2-skill [sheet]="sheet" [editMode]="editMode" skillName="operateVoidship" skillLabel="Operate (Voidship) (Ag)"></rpgi-dh2-skill>
      <rpgi-dh2-skill [sheet]="sheet" [editMode]="editMode" skillName="pary" skillLabel="Pary (WS)"></rpgi-dh2-skill>
      <rpgi-dh2-skill [sheet]="sheet" [editMode]="editMode" skillName="psyniscience" skillLabel="Psyniscience (Per)"></rpgi-dh2-skill>
      <rpgi-dh2-skill-list [sheet]="sheet" [editMode]="editMode" skillName="scholasticLore" skillLabel="ScholasticLore (Int)"></rpgi-dh2-skill-list>
      <rpgi-dh2-skill [sheet]="sheet" [editMode]="editMode" skillName="scrutinyPer" skillLabel="Scrutiny (Per)"></rpgi-dh2-skill>
      <rpgi-dh2-skill [sheet]="sheet" [editMode]="editMode" skillName="security" skillLabel="Security (Int)"></rpgi-dh2-skill>
      <rpgi-dh2-skill [sheet]="sheet" [editMode]="editMode" skillName="sleightOfHand" skillLabel="Sleight of Hand (Ag)"></rpgi-dh2-skill>
      <rpgi-dh2-skill [sheet]="sheet" [editMode]="editMode" skillName="stealth" skillLabel="Stealth (Ag)"></rpgi-dh2-skill>
      <rpgi-dh2-skill [sheet]="sheet" [editMode]="editMode" skillName="survival" skillLabel="Survival (Per)"></rpgi-dh2-skill>
      <rpgi-dh2-skill [sheet]="sheet" [editMode]="editMode" skillName="techUse" skillLabel="Tech-Use (Int)"></rpgi-dh2-skill>
      <rpgi-dh2-skill-list [sheet]="sheet" [editMode]="editMode" skillName="trade" skillLabel="Trade (Int)"></rpgi-dh2-skill-list>
    </div>
  </div>
</form>
