<form #infoForm="ngForm" class="misc container-fluid">
  <div class="row">
    <div class="col-md">
      <div class="form-group row">
        <label class="col-md-6" for="sheet.movement.half">Half</label>
        <rpgi-read-write class="col-md-6" [readOnlyValue]="sheet.movement.half">
          <input [(ngModel)]="sheet.movement.half" id="sheet.movement.half" name="half"
                 step="1" class="form-control" type="number"/>
        </rpgi-read-write>
      </div>
      <div class="form-group row">
        <label class="col-md-6" for="sheet.movement.full">Full</label>
        <rpgi-read-write class="col-md-6" [readOnlyValue]="sheet.movement.full">
          <input [(ngModel)]="sheet.movement.full" id="sheet.movement.full" name="full"
                 step="1" class="form-control" type="number"/>
        </rpgi-read-write>
      </div>
    </div>
    <div class="col-md">
      <div class="form-group row">
        <label class="col-md-6" for="sheet.movement.charge">Charge</label>
        <rpgi-read-write class="col-md-6" [readOnlyValue]="sheet.movement.charge">
          <input [(ngModel)]="sheet.movement.charge" id="sheet.movement.charge" name="charge"
                 step="1" class="form-control" type="number"/>
        </rpgi-read-write>
      </div>
      <div class="form-group row">
        <label class="col-md-6" for="sheet.movement.run">Run</label>
        <rpgi-read-write class="col-md-6" [readOnlyValue]="sheet.movement.run">
          <input [(ngModel)]="sheet.movement.run" id="sheet.movement.run" name="run"
                 step="1" class="form-control" type="number"/>
        </rpgi-read-write>
      </div>
    </div>
  </div>
</form>
