<form #infoForm="ngForm" class="misc container-fluid">
  <div class="row">
    <div class="col-lg">
      <h5>Experience</h5>
      <div class="form-group row">
        <label class="col-md-6" for="sheet.misc.xpToSpend">XP to spend</label>
        <rpgi-read-write class="col-md-6" [readOnlyValue]="sheet.misc.xpToSpend">
          <input [(ngModel)]="sheet.misc.xpToSpend" id="sheet.misc.xpToSpend" name="xpToSpend"
                 class="form-control" type="number"/>
        </rpgi-read-write>
      </div>
      <div class="form-group row">
        <label class="col-md-6" for="sheet.misc.xpSpent">Total XP spent</label>
        <rpgi-read-write class="col-md-6" [readOnlyValue]="sheet.misc.xpSpent">
          <input [(ngModel)]="sheet.misc.xpSpent" id="sheet.misc.xpSpent" name="xpSpent"
                 class="form-control" type="number"/>
        </rpgi-read-write>
      </div>
    </div>
    <div class="col-lg">
      <h5>Faith point</h5>
      <div class="form-group row">
        <label class="col-md-6" for="sheet.misc.fpThreshold">Threshold</label>
        <rpgi-read-write class="col-md-6" [readOnlyValue]="sheet.misc.fpThreshold">
          <input [(ngModel)]="sheet.misc.fpThreshold" id="sheet.misc.fpThreshold" name="fpThreshold"
                 class="form-control" type="number"/>
        </rpgi-read-write>
      </div>
      <div class="form-group row">
        <label class="col-md-6" for="sheet.misc.fpCurrent">Current</label>
        <rpgi-read-write class="col-md-6" [readOnlyValue]="sheet.misc.fpCurrent">
          <input [(ngModel)]="sheet.misc.fpCurrent" id="sheet.misc.fpCurrent" name="fpCurrent"
                 class="form-control" type="number"/>
        </rpgi-read-write>
      </div>
    </div>
  </div>


  <div class="row insanity">
    <div class="col-lg">
      <div class="form-group row">
        <label class="col-md-6 big" for="sheet.misc.insanity">Insanity (Is)</label>
        <rpgi-read-write class="col-md-6" [readOnlyValue]="sheet.misc.insanity">
          <input [(ngModel)]="sheet.misc.insanity" id="sheet.misc.insanity" name="insanity"
                 class="form-control" type="number"/>
        </rpgi-read-write>
      </div>
      <div>
        <h5>Mental Disorders</h5>
        <rpgi-editable-list [items]="sheet.misc.mentalDisorders" [writeMode]="editMode"></rpgi-editable-list>
      </div>
    </div>
    <div class="col-lg">
      <div class="form-group row">
        <label class="col-md-6 big" for="sheet.misc.corruption">Corruption (C)</label>
        <rpgi-read-write class="col-md-6" [readOnlyValue]="sheet.misc.corruption">
          <input [(ngModel)]="sheet.misc.corruption" id="sheet.misc.corruption" name="corruption"
                 class="form-control" type="number"/>
        </rpgi-read-write>
      </div>
      <div>
        <h5>Malignances</h5>
        <rpgi-editable-list [items]="sheet.misc.malignances" [writeMode]="editMode"></rpgi-editable-list>
      </div>
      <div>
        <h5>Mutations</h5>
        <rpgi-editable-list [items]="sheet.misc.mutations" [writeMode]="editMode"></rpgi-editable-list>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg">
      <h5>Aptitudes</h5>
      <rpgi-editable-list [items]="sheet.misc.aptitudes" [writeMode]="editMode"></rpgi-editable-list>
    </div>
    <div class="col-lg">
      <h5>Gear</h5>
      <div class="form-group row">
        <label class="col-md-6" for="sheet.misc.carryWeight">Max carry WT (SB+TB)</label>
        <rpgi-read-write class="col-md-6" [readOnlyValue]="sheet.misc.carryWeight">
          <input [(ngModel)]="sheet.misc.carryWeight" id="sheet.misc.carryWeight" name="carryWeight"
                 class="form-control" type="number"/>
        </rpgi-read-write>
      </div>
    </div>
  </div>
</form>

