@import "../../../../styles/variables";

$skillMargin: 6px;

.skill {
  min-height: 30px;
  margin-bottom: $skillMargin;
}

.skill-title {
  font-weight: bold;
}

.edit-mode fa-icon {
  color: $colorActive;
  cursor: pointer;
}

fa-icon {
  padding: 2px;
}

.skill-list {
  margin-bottom: $skillMargin;
  .skill {
    margin-bottom: 0;
  }
  .skill-name {
    padding-left: 9px;
  }
}

.remove fa-icon {
  display: inline-block;
  margin-left: 20px;
  color: $colorDanger;
  text-align: right;
}
