<form #infoForm="ngForm" class="misc container-fluid">
  <div class="form-group row">
    <label class="col-md-6" for="sheet.psy.rating">Psy Rating</label>
    <rpgi-read-write class="col-md-6" [readOnlyValue]="sheet.psy.rating">
      <input [(ngModel)]="sheet.psy.rating" id="sheet.psy.rating" name="rating"
             step="1"
             class="form-control" type="number"/>
    </rpgi-read-write>
  </div>
  <div>
    <h5>Psychic Powers</h5>
    <rpgi-editable-list [items]="sheet.psy.powers" [writeMode]="editMode"></rpgi-editable-list>
  </div>
</form>
