$colorMain1: #111111;
$colorMain2: #222222;
$colorMain3: #3C3F41;
$colorActive: #00a1ff;
$colorNavbarFont: white;

$colorSeparator: #000000;

$navbarHeight: 50px;

$verticalActionsWidth: 50px;
$subNavbarHeight: 50px;


$defaultBoxShadow: 0 0 20px 0 #777777;
