@import "~bootstrap/dist/css/bootstrap.css";
@import "~@swimlane/ngx-dnd/release/index.css";
@import "variables";

body, html {
  height: 100%;
  background: #FFFFFF;
}

.rpgi {

  .main-container {
    position: absolute;
    top: $navbarHeight;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFFFFF;
  }

  .rpgi-hidden {
    display: none;
  }

  .main-navbar {
    background: $colorMain1;
    color: $colorNavbarFont;
    height: $navbarHeight;
    a {
      color: $colorNavbarFont;
    }
  }
  .sub-navbar {
    $topPadding: 9px;
    border-top: 1px solid $colorSeparator;
    background: $colorMain2;
    color: $colorNavbarFont;
    padding: 6px $topPadding 6px 9px;
    height: $subNavbarHeight;
    position: fixed;
    left: 0;
    right: 0;
    top: $navbarHeight;

    .title {
      display: inline-block;
      font-size: 20px;
      color: white;
      width: 200px;
    }

    .actions {
      display: inline-block;
      float: right;
      margin-top: -$topPadding;
    }
  }

  .root-container {

    $padding: 40px;

    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    margin-top: 60px;
    padding: $padding;
    box-shadow: $defaultBoxShadow;
    background: white;

    .root-container-title {
      text-align: center;
      margin-bottom: $padding;
    }

    .root-container-controls {
      text-align: right;
      margin-top: $padding;
    }

    form {
      margin-top: $padding;
    }
  }

  .form-control{
    &.ng-invalid.ng-touched {
      border-color: red;

      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 100, 100, 0.5)
      }
    }
  }

  .vertical-actions {
    width: $verticalActionsWidth;
    background: $colorMain2;
    border-top: 1px solid $colorSeparator;
    border-right: 1px solid $colorSeparator;
    position: fixed;
    top: $navbarHeight + $subNavbarHeight;
    left: 0;
    bottom: 0;
  }

  .container-with-vertical-actions {
    margin-top: $subNavbarHeight;
    margin-left: $verticalActionsWidth;
    padding: 50px 50px 100px;
  }

  .activate-button {
    display: block;
    width: $verticalActionsWidth;
    height: $verticalActionsWidth;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    color: white;
    border-top: 1px solid $colorSeparator;
    border-bottom: 1px solid $colorSeparator;
    margin-top: -1px;

    &:hover {
      color: $colorActive;
    }
  }
  .activate-button.active {
    color: white;
    background: $colorActive;
  }

  .contextual-controls {
    float: right;

    .icon-control {
      display: inline-block;
      padding-left: 3px;
      padding-right: 3px;
      cursor: pointer;
      &:hover {
        color: $colorActive;
      }
    }
  }

  .page-controls {
    height: 50px;
    background: $colorMain3;
    position: fixed;
    bottom: 0;
    left: $verticalActionsWidth;
    right: 0;
    padding-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* Component override */
  .popover-title {
    color: black;
  }
}
