<div class="character" *ngIf="character != null">
  <div class="sub-navbar">
    <div class="title">{{character.name}}</div>
    <div class="actions">
      <a [routerLink]="['/characters', character.id, 'edit']"
         class="activate-button">
        <fa-icon [icon]="['fas', 'edit']"></fa-icon>
      </a>
      <a [routerLink]="['/characters']"
         class="activate-button">
        <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>
      </a>
    </div>
  </div>

  <div class="vertical-actions">
    <a [routerLink]="['/characters', character.id, 'biography']"
       routerLinkActive="active"
       class="activate-button">
      <fa-icon [icon]="['fas', 'user-circle']"></fa-icon>
    </a>
    <a [routerLink]="['/characters', character.id ,'sheet']"
       routerLinkActive="active"
       class="activate-button">
      <fa-icon [icon]="['fas', 'user-secret']"></fa-icon>
    </a>
    <a [routerLink]="['/characters', character.id ,'inventory']"
       routerLinkActive="active"
       class="activate-button">
      <fa-icon [icon]="['fas', 'box-open']"></fa-icon>
    </a>
    <a [routerLink]="['/characters', character.id ,'story']"
       routerLinkActive="active"
       class="activate-button">
      <fa-icon [icon]="['fas', 'book']"></fa-icon>
    </a>
  </div>
  <div class="character-theme-picture" *ngIf="biography?.pictureMediaId">
    <rpgi-media-image mode="fill" [mediaId]="biography?.pictureMediaId"></rpgi-media-image>
  </div>
  <div class="container-with-vertical-actions">
    <router-outlet></router-outlet>
  </div>
</div>
